
<IfModule mod_rewrite.c>
	RewriteEngine On
	
	RewriteCond %{SERVER_PORT} !^443$
	RewriteRule ^/?(.*) https://%{HTTP_HOST}/$1 [NC,R=301,L]

	RewriteCond %{HTTP_HOST} ^(www\.credolove\.com)
	RewriteRule ^(.*)$ https://credolove.com/$1 [R=301,L]
	
	RewriteCond %{REQUEST_URI} /index.html
	RewriteRule ^(.*)$ https://credolove.com/ [R=301,L]
</IfModule>